body{
dispay:flex;
justify-content:center;
align-items:center;
margin:0px;
	
}
.hero{
	 display:flex;
justify-content:flex-start;
align-items:flex-start;
	 
} 
img{
/* margin:50px; */
	width:400px;
height:300px;
object-fit: cover;
}
h1{
margin-left:90px;
 font-size: 20px;
margin-top:80px;
font-family:sans-serif;

	
}
h5{
margin-top:10px;
	margin-left:30px;
}
button{
	padding:10px;
background-color:red;
border-radius:10px;
margin-left:100px;
}














